<h2>Olá, {{student}}!</h2>
<div>
  <p style="text-align: justify">
    Sou da equipe do GymPoint e vim te mostrar os detalhes da sua nova matrícula.
    Você escolheu o plano <strong>{{plan}}</strong> que dura
    <strong>{{duration}}</strong> com uma mensalidade de
    <strong>{{price}}</strong>, totalizando <strong>{{total_price}}</strong>.
    A matrícula é válida a partir do dia <strong>{{start_date}}</strong> e expira
    após o dia <strong>{{end_date}}</strong>.
    <br />
    Ao chegar na academia use seu ID <strong>{{id}}</strong> para fazer o checkin.
    Lembre-se: você só pode fazer 5 checkins dentro de um período de 7 dias corridos.
  </p>

</div>
