<strong>Olá, {{student}}</strong>
<p>Bem vindo ao GymPoint! A sua matrícula foi realizada com sucesso, confira os detalhes abaixo:</p>
<p>
  <strong>ID: </strong> {{id}} <br />
  <strong>Plano: </strong> {{plan}} <br />
  <strong>Preço: </strong> {{price}} <br />
  <strong>Data de ínicio: </strong> {{start_date}} <br />
  <strong>Data de término: </strong> {{end_date}} <br />
  <br />
  <small>
    Seu ID é único e intransferível. Guarde em segurança para ter acesso à academia.
  </small>
</p>
